.layout {
    &__navbar {
        box-sizing: border-box;
        position: fixed; 
        right: 0;
        padding: 1rem 3rem 0 0;
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    &__navbar--disabled {
        display: none;
    }

    &__go-home {
        margin-left: 5rem;
        margin-right: auto;
        font-family: var(--font-primary);
        font-size: 1.25rem;
        font-weight: 500;

        cursor: pointer;
    }

    &__go-home:hover .layout__icon {
        transform: translateX(-25%);
    }

    &__go-home:hover .layout__icon svg {
        stroke: var(--color-primary-light);
    }

    &__go-home:hover .layout__go-home-text {
        color: var(--color-primary-light);
    }

    &__go-home-text {
        @include ts(color, 250ms);
    }

    &__go-home-content {
        display: flex;
        align-items: center;
        text-decoration: none;
        height: 100%;
    }

    &__go-home-content:visited {
        color: black;
    }

    &__icon {
        display: flex;
        align-items: center;
        margin-right: 1rem;
        transition: transform 250ms ease-in-out;
    }

    &__icon svg {
        transition: stroke 250ms ease-in-out;

    }
}