.navbar {
    display: flex;

    &--main {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        justify-content: flex-end;
        padding: 0rem 2rem;
        z-index: 10;
        background-color: rgba(255, 255, 255, 0.8);
        transform: translateY(1rem);
        transition: box-shadow 150ms ease-in-out,
                    transform 150ms ease-in-out;
        backdrop-filter: blur(7.5px);
    }

    &--scrolled {
        box-shadow: 0px 3px 6px 5px rgba(0, 0, 0, 0.1);
        transform: translateY(0);
    }
    
    &__items {
        list-style-type: none;
        display: flex;
        padding: 0;

        &--vertical {
            flex-direction: column; 
        }
    }

    &__item {
        cursor: pointer;
        margin-right: 4rem;
        border-radius: 0.5rem;
        border: 3px solid var(--color-primary);
        font-size: 1.25rem;
        font-family: var(--font-secondary);
        text-transform: uppercase;
        transition: background-color 200ms ease-in-out;

        &--vertical {
            margin-right: 0;
            margin-bottom: 1rem;
        }

        &:hover {
            background-color: var(--color-primary);
        }
    
        &:hover .navbar__link {
            color: var(--color-secondary);
        }
    
        &:hover .navbar__icon {
            fill: var(--color-secondary);
            color: var(--color-secondary);
        }
    
        &:last-child {
            margin-right: 0;
        }

        &--primary {
            background-color: var(--color-primary);
            border: none;
            
            &:hover {
                background-color: var(--color-primary-dark);
            }

            & .navbar__link {
                color: var(--color-secondary);
            }

            & .navbar__icon {
                fill: var(--color-secondary);
            }
        }

        &--links {
            margin-right: 2rem;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__link {
        display: flex;
        align-items: center;
        height: 100%;
        text-decoration: none;
        transition: color 200ms ease-in-out;
        padding: 0.75rem 1.25rem;
    }

    &__icon {
        margin-right: 0.75rem;
        transition: fill 200ms ease-in-out,
                    color 200ms ease-in-out;
        color: black;
    }
}