.projects-body {
    padding-left: calc(30px + 1.75rem);
    margin-top: 2rem;
    margin-left: 1.25rem;
    border-left: 4px solid var(--color-primary);

    &--linear {
        display: flex;
    }

    &--grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    &__project-info {
        
        &--swipeable {
            flex: 0 1 60%;
        }
    }

    &__project-links {
        display: flex;
        align-items: center;     
        margin-top: 1rem;   
    }

    &__project-link {
        display: inline-flex;
        align-items: center;
        margin-left: 1rem;
        padding: 0.25rem;
        border-radius: 0.5rem;
        transition: background-color 200ms ease-in-out;
    }

    &__project-link:hover {
        background-color: var(--color-primary-light-opaque);
    }

    &__project-link-icon {
        fill: black;
    }

    &__project-media {
        display: flex;
        position: relative;
        flex: 0 1 40%;
        min-width: 280px;
    }

    &__body-content {
        font-family: var(--font-secondary);
        line-height: 1.5;
    }

    &__stack-list {
        display: inline-flex;
        margin-left: 0.75rem;
        font-family: var(--font-secondary);
        font-weight: 500;
        color: var(--color-primary-light);
    }

    &__stack-item {
        margin-right: 1rem;
    }

    &__emphasis-text {
        font-family: var(--font-primary);
        font-size: 1.1rem;
        font-weight: 600;
    }
}