.about-body {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: calc(30px + 1.75rem);
    margin-top: 2rem;
    margin-left: 1.25rem;

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 300px;
        border-left: 4px solid var(--color-primary);
    }

    @include mq('md-lg') {
        flex-direction: row;
    }

    &__description {
        font-family: var(--font-secondary);
        width: 100%;
        flex-shrink: 0.75;
        line-height: 1.5;
    }

    &__skills {
        padding: 1.5rem;
        max-width: 515px;
        height: fit-content;
        background-color: var(--color-primary-light);
        width: 100%;
        color: var(--color-secondary);
        border-radius: 0.5rem;
        box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);    
        margin-top: 1rem; 

        @include mq('md-lg') {
            margin-top: 0;
            margin-left: 2rem;
        }
    }

    &__skills-heading {
        font-size: 1.25rem;

        @include mq('sm') {
            font-size: 1.5rem;
        }
        @include mq('md') {
            font-size: 1.75rem;
        }

        @include mq('md-lg') {
            font-size: 1.25rem;
        }

        @include mq('lg') {
            font-size: 1.5rem;
        }

        @include mq('xl') {
            font-size: 1.75rem;
        }
    }

    &__skills-content {
        display: flex;
    }

    &__skills-subsection {
        width: 100%;
        padding: 1rem;
        padding-left: 0;
    }

    &__skills-subsection:last-child {
        margin-left: 1rem;
    }

    &__subtitle {
        font-family: var(--font-primary);
    }

    &__list {
        padding-left: 1rem;
        list-style-type: square;
    }

    &__list-item {
        color: var(--color-secondary);
        font-family: var(--font-secondary);
    }
}




