.projects-body {
    position: relative;
    padding-left: calc(30px + 1.75rem);
    margin-top: 2rem;
    margin-left: 1.25rem;

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 300px;
        border-left: 4px solid var(--color-primary);
    }

    &--linear {
        display: flex;
    }

    &--grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    &__project-swipeable {
        width: 100%;
    }

    &__project-content {
        display: flex;
        align-items: center;
        margin-bottom: 3rem;
    }

    &__toggle-tab {
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        border-bottom: 2px solid var(--color-gray);
    }

    &__toggle-icon {
        @include ts(transform, 300ms);

        &--expanded {
            transform: rotateZ(-45deg);
        }
    }

    &__toggle-header {
        cursor: pointer;
    }

    &__toggle-button {
        all: inherit;
    }

    &__toggle-text {
        font-family: var(--font-secondary);
        margin: 0;
    }

}

.project {
    opacity: 0;
    display: flex;
    
    margin-bottom: 3rem;

    &__info {
        flex: 0 1 100%; // Grow, shrink, basis
        margin-right: 2rem;
    }

    &__subsection {
        margin-bottom: 1rem;
    }

    &__links {
        display: flex;
        align-items: center;     
        margin-top: 1rem;   
    }

    &__link {
        display: inline-flex;
        align-items: center;
        margin-left: 1rem;
        padding: 0.25rem;
        border-radius: 0.5rem;
        transition: background-color 200ms ease-in-out;
    }

    &__link-icon {
        transition: fill 200ms ease-in-out;
    }
    
    &__link:visited {
        color: black;
    }

    &__link:hover {
        background-color: var(--color-primary-light-opaque);
    }

    &__link:hover .projects-body__project-link-icon {
        fill: rgba(55, 105, 255, 0.1);
    }


    &__media {
        display: flex;
        position: relative;
        min-width: 280px;
        flex: 0 1 100%;
        margin-left: 2rem;
        height: fit-content;
        align-items: center;
    }

    &__desktop-media {
        width: 100%;
        height: 100%;
    }

    &__mobile-media {
        position: absolute;
        bottom: 0;
        left: 0;
        margin-left: -1rem;
        margin-bottom: -0.5rem;
        width: 30%;
    }

    &__body-text {
        font-family: var(--font-secondary);
        line-height: 1.5;
    }

    &__stack-list {
        display: inline-flex;
        margin-left: 0.75rem;
        font-family: var(--font-secondary);
        font-weight: 500;
        color: var(--color-primary-light);
    }

    &__stack-item {
        margin-right: 1rem;
    }

    &__emphasis-text {
        font-family: var(--font-primary);
        font-size: 1.1rem;
        font-weight: 600;
    }
}

.fade-up-enter {
    opacity: 0;
    transform: translateY(10%);
}

.fade-up-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 750ms ease-in-out,
                transform 750ms ease-in-out;
}

.fade-up-enter-done {
    opacity: 1;
}
